<div class="header-container">
    <img src="../../../assets/img/bg.jpg" alt="" class="bg">
    <div class="nav-container">
        <div class="item-container">
            <img class="logo" src="../../../assets/img/logo.png" alt="">
            <h2 class="logo-text">Hyperwheels</h2>
        </div>
        <!-- <div class="item-container">
            <h2 class="login-text">Login/Sign In</h2>
            <img class="login" src="../../../assets/img/login.png" alt="">
        </div> -->
    </div>

    <img src="../../../assets//img/banner-truck.svg" alt="truck" class="truck-image">

    <h1 class="main-title">We connect you with your best job</h1>

    <div class="buttons-container">
        <button class="learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">create account</span>
        </button>
        <button class="learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">log in</span>
        </button>
    </div>

</div>