@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    width: 100vw;
    // height: 100vh;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 14.58%, rgba(0, 0, 0, 0.22) 49.48%, rgba(0, 0, 0, 0.5) 84.37%, rgba(0, 0, 0, 0.5) 100%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 14.58%, rgba(0, 0, 0, 0.22) 49.48%, rgba(0, 0, 0, 0.5) 84.37%, rgba(0, 0, 0, 0.5) 100%, #000000 100%);
    // background: radial-gradient(128.57% 128.57% at 93.33% -13.18%, #141B29 0%, #124143 23.44%, #5AC994 100%);
}